.title{
  padding-top: 7%;
  text-align: center;
  padding-bottom: 5%;
}

.tutor1{
  width: 100%;
}

.tutor1 .tutor-image-1{
  width: 25%;
  display: inline-block; 
  padding-left: 13%;  
}

.tutor1 .tutor-image-1 .image-1{
  width: 100%;
  height: 250px;
  background: gray;

}

.tutor1 .tutor-text-1{
  width: 50%;
  float: right;  
}

.tutor2{
  width: 100%;
  padding-top: 10%;
}

.tutor2 .tutor-text-2{
  padding-left: 15%;
}
.tutor2 .tutor-text-2 .text-2{
  width: 50%;
}

.tutor2 .tutor-image-2{
  padding-right: 15%;
}

.tutor2 .tutor-image-2 .image-2{
  width: 30%;
  float: right;
  background: gray;
  height: 250px;
}

.tutor3{
  width: 100%;
  padding-top: 15%;
}

.tutor3 .tutor-image-3{
  width: 25%;
  display: inline-block; 
  padding-left: 13%;  
}

.tutor3 .tutor-image-3 .image-3{
  width: 100%;
  height: 250px;
  background: gray;

}

.tutor3 .tutor-text-3{
  width: 50%;
  float: right;  
}


.footer{
  width: 80%;
  padding-top: 10%;
  padding-bottom: 5%;
  padding-left: 8%;
}

.footer .footer-box{
  padding: 7%;
  width: 70%;
  height: 100px;
  background: #dfe6e9;
  border-radius: 15px;
}

.footer .footer-box .footer-box-text{
  font-size: 25px;
  font-weight: bold;
}

.footer .footer-box .tukar-box{
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 30%;
  background: gray;
  text-decoration: none;
}

.footer .footer-box .tukar-box .tukar-text a{
  text-decoration: none;
  text-align: center;
  color: black;
}